body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("./assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 810px;
  /* width: 100%; */

  padding: 1rem 3.5rem;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 0;
  width: fit-content;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  /* width: 100%; */
}

li {
  list-style: none;
}

h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 38px;

  color: #000000;
}

p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;

  color: #000000;
}

a {
  text-decoration: none;
  color: white;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
}

main {
  padding: 5rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0;
  gap: 2rem;
}
/* 
.logos img {
  width: 3rem;
  height: 3rem;
} */

.logos h1 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 29px;
  /* identical to box height */

  color: #fabd07;
}

@keyframes fadeInUp {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100%;
  }
}

.left .tire_image:hover ~ .hover_menu {
  display: block;
  animation: fadeInUp 2.5s linear;
}

.left .hover_menu {
  display: none;
  background-color: lightgray;
  border-radius: 10px;
  padding: 1rem 1rem;
  transition: all 0.5s ease-in;
}

.left .hover_menu ul {
  display: block;
  padding: 0;
}

.left .hover_menu li {
  margin-bottom: 2rem;
}

.left .hover_menu a {
  color: black;
}

.image_container .image_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.image_container img {
  transition: all 0.5s ease;
}

.image_container img:hover {
  transform: scale(1.1);
}
