body {
  background: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  /* overflow: hidden; */
}

.Header {
  background: url("./images/header_image.png");
  background-repeat: no-repeat;
  width: 565.23px;
  height: 487.96px;
}

.Header .Header_contents {
  padding: 20% 15% 0 15%;
}

.Header h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.Header li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

.UserInfo {
  background: white;
  background-repeat: no-repeat;
  width: 565.23px;
  height: 328.85px;
  /* padding-top: 10%; */
  overflow: hidden;
}

.UserInfo .input_group {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  padding: 15% 20%;
}

.UserInfo .name_group,
.password_group {
  position: relative;
}

.UserInfo .password_group {
  margin-top: 10%;
}

.UserInfo input[type="text"],
input[type="password"] {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  color: #7f7c91;

  border: none;
  border-bottom: 1px solid #595666;

  margin-bottom: 5vh;
}

.UserInfo input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  /* transform: scale(1.2, 1.2); */
}

.UserInfo .label_name,
.label_password {
  position: absolute;
  left: 0%;
  right: 74.39%;
  top: 0%;
  bottom: 24%;
  pointer-events: none;
}

/* When the focus is on the input. */
.UserInfo input[type="text"]:focus + .label_name,
input[type="password"]:focus + .label_password {
  transform: scale(0.8, 0.8);
  transform: translateY(-50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #786abd;
}

/* If there is a word entered. */
.UserInfo input[type="text"]:valid + .label_name,
input[type="password"]:valid + .label_password {
  transform: scale(0.8, 0.8);
  transform: translateY(-50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #786abd;
}

label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7f7c91;
}

.UserInfo input[type="submit"] {
  position: relative;
  height: 35px;
  width: 110px;
  margin: 5% auto;
  background: #ffffff;
  z-index: 0;
  border-radius: 10px;
  border: 2px solid white;
  animation: changeborder 0.5s infinite ease-in-out;
}

@keyframes changeborder {
  0% {
    border-color: white white white #786abd;
  }
  33% {
    border-color: #786abd white white white;
  }
  66% {
    border-color: white #786abd white white;
  }
  100% {
    border-color: white white #786abd white;
  }
}
